/*tratamiento*/

.grilla{
    display: grid;
}
.tratamiento{
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(7, 150px);
}
.flex-row{
    display: flex;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
#banner{
    height: 600px;
    background-image: url("../img/banner-tono-y-textura.jpg");
    background-size: cover;
}
#banner div{
    height: 600px;
    width: 40%;
    padding-left: 800px;
}
#banner h1{
    color:#e77843; 
    text-align: right;
    padding-top: 250px;
    padding-right: 50px;
    font-size: 70px;
    font-weight: 300;
    line-height: 60px; 
    animation-duration: 10s;
    animation-name: gradual;
 }
@keyframes gradual {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 5;
    }
    }
#banner p{
    font-style: italic;
}
.descripcion{
    grid-column: 1 / 13;
    grid-row: 1 / 3;
    background-color: rgb(255, 234, 218);
    justify-content: center;
    text-align: center;
    padding: 0 20%;
    line-height: 22px;
}
.cabezal-1{
    grid-column: 1 / 5;
    grid-row: 3 / 5;
    background-color:rgb(226, 141, 43);
}
.info-1{
    grid-column: 5 / 13;
    grid-row: 3 / 5;
    background-color: #ffc89d;
    justify-content: space-evenly;
    padding: 0 5%;
}
.info-1 p{
    font-size: 13px;
    line-height: 18px;
}
.cabezal-2{
    grid-column: 9 / 13;
    grid-row: 5 / 7;
    background-color: #ffc89d;
}
.info-2{
    grid-column: 1 / 9;
    grid-row: 5 / 7;
    background-color: #f7b06d;
    justify-content: space-evenly;
    padding: 0 5%;
}

.info-2 p{
    font-size: 13px;
    line-height: 18px;
}
.slide-resultados{
    width: 600px !important;
}

/*tratamiento responsive*/
@media screen and (max-width: 420px){
    .tratamiento{
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(15, 150px);
    }
    .descripcion{
        grid-column: 1 / 7;
        grid-row: 1 / 4;
        background-color: rgb(255, 234, 218);
        justify-content: center;
        text-align: center;
        padding: 0 10%;
        line-height: 22px;
    }
    .cabezal-1{
        grid-column: 1 / 7;
        grid-row: 4 / 6;
    }
    .info-1{
        grid-column: 1 / 7;
        grid-row: 6 / 8;
        background-color: #ffc89d;
        justify-content: space-evenly;
        padding: 0 5%;
    }
    .info-1 p{
        font-size: 13px;
        line-height: 18px;
    }
    .cabezal-2{
        grid-column: 1 / 7;
        grid-row: 8 / 10;
    }
    .info-2{
        grid-column: 1 / 7;
        grid-row: 10 / 12;
        background-color: #f7b06d;
        justify-content: space-evenly;
        padding: 0 5%;
    }      
    .info-2 p{
        font-size: 13px;
        line-height: 18px;
    }
    .resultados{
        display: flex;
        flex-direction: column;
        grid-column: 2 / 6;
        grid-row: 13 / 15;
        gap: 10px;
    }
    header{
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center; 
        padding: 10px 0; 
    }
    header nav ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    footer{
        height: 250px;
        display: flex;
        flex-direction: column;
        align-items: center; 
    }
    footer nav ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}