/*contacto*/
#contacto h1{
    color: #1FBEA2;
    text-align: center;
    margin: 40px 0;
}
#contacto h2{
    color: #1C74A2;
    padding: 8px 0;
    font-size: 14px;
    font-weight: 800;
}
#contacto div{
    padding: 5px 0;
    margin-left: 400px;
    font-size: 14px;
}