/*home*/
/*menu bootstrap*/
.fondo{
    background-color: $marron !important;
    font-size: 1.5rem;
}
header img{
    padding-left: 20px;
}
.color{ 
    color: #E24844 !important;
}
/*Main video*/
#mainIndex{
    .containerIntro{
        display: flex;
        flex-direction: column;
        align-items: center;
        &__text{
                h2{
                color: $coral;
                text-align: center;
                margin: 30px 20px;
                font-size: 2.5rem;
            }
                p{
                width: 50%;
                margin: auto;
                margin-bottom: 50px;   
                font-style: italic;
                text-align: center;
                font-size: 1.5rem;
            }
        }
    }
}


/*Iconos*/
#iconosIndex{
    background-color: #DFDAE1;
    margin: 50px 0px;

    .containerTitle__center{
        color: $turqueza;
        text-align: center;
        padding: 50px 0px;
        font-size: 2.5rem;
    }
    .containerIcon{
        display: flex;
        justify-content: space-evenly;
        height: 250px;
        padding: 0 30px;
        font-size: 1.5rem;

        &__info{
            width: 130px;

            &--image{
                padding: 0 25px;
                transition: 1s;
                opacity: 50%;
            }
            &--image:hover{
                width: 110px;
                padding: 5px;
                opacity: 100%;
                }
            &--text{
                color: darkgray;
                text-align: center;
            }
        }
    }
}

/*Categorías*/
#categoriasIndex{
@include flex(row, center, center);
    .containerInfo{
        &__image{
            height: 220px;
            }
        
        &__text{
            color: $turqueza;
            font-weight: 400;
            text-transform: uppercase;
            font-size: 2rem;
            padding: 15px 0;
            text-align: center;
            }
        }
    }

/*Responsive*/
@media screen and (max-width: 1024px){
#iconosIndex{
        .containerIcon{
            flex-wrap: wrap;
            padding: 0 40px;
            height: 350px;
            column-gap: 40px;
        }
    }
}

@media screen and (max-width: 768px){
    #iconosIndex{
        .containerIcon{
            flex-wrap: wrap;
            padding: 0 80px;
            height: 600px;
            column-gap: 60px;
        }
    }
    .containerIntro{
        &__video{
            width: 400px;
            height: 225px;
            iframe{
                width: 400px;
                height: 225px;  
            }
        }      
    }
    #categoriasIndex{
        .containerInfo{
            &__image{
                height: 140px;
            }
            &__text{
                font-size: 1.5rem;
            }
        }    
    }
}
@media screen and (max-width: 480px){
    #iconosIndex{
        .containerTitle__center{
            padding: 30px 0px;
        }
        .containerIcon{
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 1200px;
        }
    }
    #mainIndex{
        .containerIntro{
            &__text{
                p{
                width: 70%;
                margin: auto;
                margin-bottom: 50px;   
                }
            }
            &__video{
                width: 300px;
                height: 169px;
                iframe{
                    width: 300px;
                    height: 169px;  
                }
            } 
        }
    }
    #categoriasIndex{
        display: flex;
        flex-direction: column;
        .containerInfo{
            &__image{
                height: 180px;
            }
        }    
    } 
}       
/*Fin responsive*/